body {
  background-color: rgba(239, 244, 241, 0.987);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.option {
  background-color: rgb(0, 110, 255);
  border-color: rgb(0, 110, 255);
  padding: 12px 120px;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.options{
  display: flex;
  flex-direction: column;
  gap: 10px;  
  align-items: center;
}

#question {
  padding-top: 15px;
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
}

.quiz-container{
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 290px;
  width: 30%;
  padding-bottom: 20px;

}

#next-button {
  display: none;
}